* {
    box-sizing: border-box;
  }
  
  body {
    background-color: burlywood;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: clamp(1rem, 4vw, 2rem);
  }
  
  .titulo_productos {
    text-align: center;
  }
  
  .contenedor {
    border: 1px solid rgb(4, 4, 4);
    background-color: thistle;
    height: 200px;
    width: 200px;
    padding: 1px;
    margin: 2px;
  }
  
  .item {
    border: 2px solid rgb(1, 1, 1);
    background-color: thistle;
    font-size: 50px;
    overflow: auto;
  }
  
  .contenedor_flex {
    border: 1px solid rgb(11, 11, 11);
    background-color: rgba(121, 118, 118, 0.829);
    padding: 1%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
  }
  
  .item_flex {
    border: 1px solid rgb(9, 9, 9);
    background-color: lightgrey;
    overflow: auto;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
  }
  
  a {
    color: aliceblue;
    text-decoration: none;
  }
  
  a:visited {
    color: beige;
  }
  
  button {
    background-color: rgb(1, 32, 1);
    border-radius: 4px;
    margin: auto;
    font-size: clamp(1rem, 4vw, 2rem);
  }
  
  .contenedor_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    background-color: grey;
    padding: 1%;
  }
  
  .item_grid {
    background-color: rgb(184, 173, 230);
    border-radius: 4px;
    text-align: center;
    font-size: 3vw;
  }